---
siteTitle: Random Development Errors
---

{% assign categories = collections.categories | sort %}

<!DOCTYPE HTML>
<!--
TXT by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-twilight.css">
  </head>
  <body class="is-preload">
    <div id="page-wrapper">

      <header id="header">
        <div class="logo container">
          <div>
            <h1>
              <a href="{{ "/" | htmlBaseUrl }}" id="logo">{{ siteTitle }}</a>
            </h1>
          </div>
        </div>
      </header>

      <nav id="nav">
        <ul>
          <li>
            <a href="{{ "/" | htmlBaseUrl }}">Home</a>
          </li>
          <li>
            <span class="opener">Categories</span>
            <ul>
              {% for category in categories %}
                <li>
                  <a href="{{ "/" | htmlBaseUrl }}category/{{ category | slugify }}">{{ category | capitalize }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="{{ "/" | htmlBaseUrl }}about">About</a>
          </li>
        </ul>
      </nav>

      {{ content }}

      <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <div class="row gtr-200">
            <div class="col-12">
              <!-- Contact -->
              <section>
                <h2 class="major">
                  <span>Get in touch</span>
                </h2>
                <ul class="contact">
                  <li>
                    <a
                      class="icon brands fa-github"
                      href="https://github.com/johnwargo"
                      target="_blank">
                      <span class="label">Github Personal</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="icon brands fa-github"
                      href="https://github.com/jwargo"
                      target="_blank">
                      <span class="label">Github Professional</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="icon brands fa-medium"
                      href="https://medium.com/@johnwargo"
                      target="_blank">
                      <span class="label">Medium</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="icon brands fa-linkedin-in"
                      href="https://www.linkedin.com/in/jmwargo/"
                      target="_blank">
                      <span class="label">LinkedIn</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="icon brands fa-twitter"
                      href="https://twitter.com/johnwargo"
                      target="_blank">
                      <span class="label">Twitter</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="icon brands fa-mastodon"
                      href="https://mastodon.social/@johnwargo"
                      target="_blank">
                      <span class="label">Mastodon</span>
                    </a>
                  </li>
                </ul>
              </section>

            </div>
          </div>

          <!-- Copyright -->
          <div id="copyright">
            <ul class="menu">
              <li>&copy; John M. Wargo. All rights reserved</li>
            </ul>
          </div>

        </div>
      </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ "/" | htmlBaseUrl }}assets/js/jquery.min.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/jquery.dropotron.min.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/jquery.scrolly.min.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/browser.min.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/breakpoints.min.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/util.js"></script>
    <script src="{{ "/" | htmlBaseUrl }}assets/js/main.js"></script>

  </body>
</html>