---
layout: default
---

<header>
  <h2>{{ title }}</h2>
</header>
<p>
  <strong>Posted:
  </strong>
  {{ date | readableDate }} |
  <strong>Categories:</strong>
  {% for cat in categories %}
    <a href="/category/{{ cat | slugify }}">{{ cat }}</a>
    {% unless forloop.last %},&nbsp;
    {% endunless %}
  {% endfor %}
</p>

{{ content }}

<br/>
<hr/>
<p>If this article helps you, please consider buying me a coffee.</p>
<a href="https://www.buymeacoffee.com/johnwargo" target="_blank"><img
    src="https://cdn.buymeacoffee.com/buttons/default-blue.png"
    alt="Buy Me A Coffee"
    height="41"
    width="174"></a>