---
layout: default
pagination:
  data: collections.post
  size: 20
  alias: catposts
category: 
eleventyComputed:
  title: "Category: {{ category }}"
permalink: "categories/{{ category | slugify }}/{% if pagination.pageNumber != 0 %}page-{{ pagination.pageNumber }}/{% endif %}"
---

<h3>Category: {{ category }}</h3>

{% include 'pagination-count.html' %}

<p>All posts for the {{ category }} category, in reverse chronological order.</p>

{% for post in catposts reversed %}
  <div>
    <a href="{{post.url}}">{{ post.data.title }}</a>, posted {{ post.date | readableDate }}
    {% excerpt post %}
  </div>
{% endfor %}

{% include 'pagination-nav.html' %}