---
layout: home
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "/category/{{ category | slugify }}/index.html"
eleventyComputed:
  title: "Category: {{ category }}"
---

<section id="banner">
  <div class="content">
    <header>
      <h1>{{ title }}</h1>
      <p>All of the posts for a single category, in reverse chronological order.</p>
    </header>

    {% assign posts = collections.post | filterByCategory: category %}
    {% for post in posts reversed %}
      <div>
        <p>
          <a href="{{post.url}}">{{ post.data.title }}</a>, posted {{ post.date | niceDate }}
        </p>
        {% excerpt post %}
      </div>
    {% endfor %}

  </div>
</section>