---
title: Home
layout: home
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <article class="box page-content">
            <p>This site is a place where I document the solutions for the random problems and errors I encounter when writing code or learning new technologies. For most of the topics listed below, I created the article only after completing an extensive Internet search for a solution, but couldn't find one, before finally figuring it out myself. The site currently has {{ collections.post.length }} posts; this is page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }}.</p>
            {% for post in posts %}
              <a href="{{post.url}}">{{ post.data.title }}</a>, posted {{ post.date | niceDate }}<br/>
              {% excerpt post %}
            {% endfor %}
            <p>
              {% if pagination.href.previous %}
                <button type="button" onclick="location.href='{{ pagination.href.previous }}'">Previous</button>
              {% endif %}
              {% if pagination.href.next %}
                <button type="button" onclick="location.href='{{ pagination.href.next }}'">Next</button>
              {% endif %}
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>